<!DOCTYPE html>
<html lang="en">

<head>
	<link href="style.css" rel="stylesheet" />
	<meta charset="utf-8" />
	<title>Feisbuk | By Andreu & Sam</title>
</head>

<body>

	<div class="grid-container">

		<header class="grid-top">
			<h1>FEISBUK</h1>
			<div class="topbar center">
				<div class="topbar-div1">
					<nav class="topbar">
						<a class="nav-bar__item" href="https://elpais.com" target="_blank">&nbsp;Friends&nbsp;</a>
						<a class="nav-bar__item" href="https://www.familysearch.org/es/"
							target="_blank">&nbsp;Family&nbsp;</a>
						<a class="nav-bar__item" href="https://www.infojobs.net/" target="_blank">&nbsp;Job&nbsp;</a>
						<a class="nav-bar__item" href="https://support.google.com/accounts/answer/3118621?hl=es"
							target="_blank">&nbsp;Settings&nbsp;</a>
					</nav>
				</div>
			</div>
		</header>


		<nav class="grid-sidebar">
			<div class="sidebar-div1">
				<a class="nav-bar__item" href="https://www.pinterest.es/" target="_blank">Pictures</a>
				<a class="nav-bar__item" href="https://www.youtube.com/" target="_blank">Videos</a>
				<a class="nav-bar__item" href="https://es.webs.com/" target="_blank">Webs</a>
				<a class="nav-bar__item" href="login.html" target="_self">Logout</a>
			</div>
			<div class="sidebar-div2"></div>
		</nav>


		<main class="grid-content">
			<div class="post post-style">
				<div class="post__header">
					<div class="post__header__info">
						<img src="https://yt3.ggpht.com/ytc/AKedOLRCI6q817rqfqgWwRTc41umKpHzkwsvU7MnR6Vp=s88-c-k-c0x00ffffff-no-rj"
							alt="">
						<div>
							<div class="post__header__info__name">
								<p>Rtve Noticias</p>
							</div>
							<div class="post__header__info__time">
								<p>1 h · &#x1F30D;</p>
							</div>
						</div>
					</div>
					<div>
						<p>Increíbles imágenes del volcán en la Palma en directo</p>
					</div>
					<div class="hashtags">
						<p>#lapalma #volcan</p>
					</div>
				</div>
				<div>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/DFzZyTFQWo8"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
				<div class="post__bottom">
					<div>
						<p>😆😊😍 12</p>
					</div>
					<div>
						<div class=""></div>
					</div>
					<div>&nbsp</div>
					<div class="post__buttons">
						<div>👍️ I like it</div>
						<div>💬 Comment</div>
						<div>Share</div>
					</div>
					<div>&nbsp</div>
				</div>
			</div>
		</main>

		<aside class="grid-commercial">
			<img class="aside__img--blackf"
				src="https://media0.giphy.com/media/mCUNTmMSaX8WS5koUG/200.webp?cid=ecf05e47hc26ja21cynw990tnek4xshzufsnpj0fj9nr8qme&rid=200.webp&ct=g"
				alt="⚠️ Advertising space ⚠️" />
		</aside>

		<footer class="grid-bottom">
			<p id="priv">Feisbuk © 2021 by Samuel&Andreu</p>
		</footer>

	</div>

</body>

</html>