<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feisbuk | Register</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header class="top">
        <h1>REGISTER</h1>
    </header>

    <main class="central">
        <form class="form" action="login.html">
            <div>
                <div class="form__line">
                    <label for="phone">NAME</label>
                    <input class="form__txtbox" type="textbox" placeholder="Rick">
                </div>
                <div class="form__line">
                    <label for="phone">SURNAME</label>
                    <input class="form__txtbox" type="textbox" placeholder="Sánchez">
                </div>
                <div class="form__line">
                    <label for="phone">PASSWORD</label>
                    <input class="form__txtbox" type="password" placeholder="Teleport137">
                </div>
                <div class="form__line">
                    <label for="phone">EMAIL</label>
                    <input class="form__txtbox" type="textbox" placeholder="rick@gmail.com">
                </div>
                <div class="form__line">
                    <label for="phone">BIRTHDATE</label>
                    <input class="form__txtbox" type="date">
                </div>
                <div class="post-style">
                    <input type="checkbox">
                    <label for="phone">
                        <p>Yes, send me emails with news, advice and updates from Fesibuk.com</p>
                    </label>
                </div>
                <div>
                    <input type="submit">
                </div>
            </div>
        </form>
    </main>
    <footer class="bottom">
        <p id="priv">Feisbuk © 2021 by Samuel&Andreu</p>
    </footer>
</body>

</html>